<!DOCTYPE html>
<html>
<head>
  <title>Incredible</title>
  <%= stylesheet_link_tag    "incredible/application", media: "all" %>
  <%= javascript_include_tag "incredible/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
